.cart-area {
  border: 1px solid lightblue;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 24px 320px;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: rgb(0, 119, 182);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 2px;
}

button:hover {
  background-color: rgb(2, 62, 138);
}
.cart-area-left {
 
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin-right: 24px;
  border-radius: 4px;
}

.laptop-list-label {
  font-size: 32px;
  padding: 8px;
  margin-bottom: 32px;
  margin-top: 32px;
  font-weight: bold;
}

.cart-area-right {

  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 4px;
}

.summary-label {
  font-size: 32px;
  padding: 8px;
  margin-bottom: 32px;
  margin-top: 32px;
  font-weight: bold;
}

.summary-list {
  width: 90%;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  box-sizing: border-box;
  background-color: rgb(202, 240, 248);
  border-radius: 4px;
  
}

.laptop-list-container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.laptop-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  padding: 8px;
  background-color: rgb(202, 240, 248);
  border-radius: 4px;
  margin-bottom: 24px;
}

.laptop-img-container {
  width: 120px;
  height: 100%;
}
.laptop-detail {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.quantity-control {
  display: flex;
  margin-top: 16px;
  align-items: center;
}
.reduce-quantity-button,
.increase-quantity-button {
  font-size: 20px;
  width: 32px;
  margin: 0 8px;
  cursor: pointer;
}
.quantity-number {
  font-size: 20px;
  
}
.semi-summary {
  width: 180px;
  padding: 8px;
}
.laptop-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.summary-util-button {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  
  width: 80%;
}

.util-button {
  border: none;
  font-size: 20px;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(0, 119, 182);
}

.back-to-shopping {
  background-color: rgb(0, 119, 182);
  color: white;
}
.back-to-shopping:hover {
  background-color: rgb(2, 62, 138);
}
.checkout-button {
  color: white
}
.checkout-button:hover {
  background-color: rgb(2, 62, 138);
}