.back-to-home-button {
  font-size: 32px;
  border: none;
  padding: 8px;
  background-color: rgb(96, 197, 230);
  color: white;
  border-radius: 4px;
}

.back-to-home-button:hover {
  cursor: pointer;
  background-color: rgb(7, 159, 209);
}

.laptop-detail-area {
  min-height: 700px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid lightgrey;
}

.similar-products-area {
  margin-top: 32px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.similar-products-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.laptop-detail-field {
  display: flex;
  border: 1px solid lightgreen;
  margin-top: 32px;
}

.laptop-detail-left {
  display: flex;
  flex-direction: column;
  border: 1px solid lightsalmon;
  width: 480px;
  align-items: center;
}

.laptop-img {
  border: 1px solid lightpink;
  width: 480px;
  height: 480px;

}

.laptop-detail-right {
  padding: 16px;
  font-size: 24px;
  width: 80%;
}

.laptop-name {
  font-size: 32px;
  font-weight: bold;
}

.cpu-info {
  margin-top: 16px;
}

.compare-button,
.add-to-cart-button {
  font-size: 24px;
  cursor: pointer;
  background-color: rgb(96, 197, 230);
  padding: 16px 24px;
  border: none;
  border-radius: 4px;
  color: white;
}

.compare-button {
  margin-right:48px;
}

.compare-button:hover,
.add-to-cart-button:hover {
  background-color: rgb(7, 159, 209);;
}