button:hover {
  background-color: rgb(2, 62, 138);
}


.back-to-home-button {
  font-size: 32px;
  border: none;
  padding: 8px 20px;
  background-color: rgb(0, 119, 182);
  color: white;
  border-radius: 4px;
}

.back-to-home-button:hover {
  cursor: pointer;
}

.laptop-detail-area {
  min-height: 700px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid lightgrey;
}
.laptop-all-detail:hover {
  cursor: pointer;
}

.similar-products-area {
  margin-top: 32px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.similar-products-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.laptop-detail-field {
  display: flex;
  margin-top: 32px;
}

.laptop-detail-left {
  display: flex;
  flex-direction: column;
  background-color: rgb(202, 240, 248);
  width: 480px;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
}

.laptop-detail-right {
  max-width: 760px;
  background-color: rgb(202, 240, 248);
  margin: 0 16px;
  border-radius: 4px;
}

.laptop-img {
  width: 480px;
  height: 480px;

}

.laptop-detail-right {
  padding: 16px;
  font-size: 24px;
  width: 80%;
}

.laptop-name {
  font-size: 32px;
  font-weight: bold;
}

.cpu-info {
  margin-top: 16px;
}

.compare-button,
.add-to-cart-button {
  font-size: 24px;
  cursor: pointer;
  background-color: rgb(0, 119, 182);
  padding: 16px 24px;
  border: none;
  border-radius: 4px;
  color: white;
}

.add-to-cart-button:hover,
.compare-button:hover {
  background-color: rgb(2, 62, 138);
}
.compare-button {
  margin-right:48px;
}

.laptop-img {
  object-fit: cover;
}